<footer>
  <div class="remarks">
    このイベントは、ファン個人が運営しております。キャラクター公式及びその関連企業様とは一切関係ございません。
  </div>
  <div class="copyright">&copy; 2024 ソウゾウパレット実行委員会</div>
</footer>

<style lang="scss">
  footer {
    padding: 40px;
    background-color: var(--brand-lightgray-color);
    color: var(--text-color);
    text-align: center;

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
  }
  .copyright,
  .remarks {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
</style>
