---
import { getCollection } from "astro:content";
const pages = await getCollection(
  "pages",
  (p) => !p.data.draft && p.data.showMenu
);
const menuItems = pages
  .sort((a, b) => (a.data.menuOrder ?? 0) - (b.data.menuOrder ?? 9))
  .map((p) => ({
    title: p.data.menuTitle ?? p.data.title,
    path: `/${p.slug}`,
  }));
---

<nav>
  <div class="logoContainer"><a href="/">ソウゾウパレット</a></div>
  <div class="menuContainer">
    <div class="menu">
      {
        menuItems.map((i) => (
          <a class="menu_item" href={i.path}>
            {i.title}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<style lang="scss">
  nav {
    background-color: var(--brand-lightgray-color);
    padding: 20px 20%;

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
  }
  .logoContainer,
  .menuContainer {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &_item {
      padding: 5px 10px;
      border-bottom: 2px solid var(--brand-primary-color);
      color: var(--brand-primary-color);
      font-weight: bold;
      text-decoration: none;

      cursor: pointer;
      position: relative;

      &:after {
        position: absolute;
        display: block;
        content: "";
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;

        background-color: var(--brand-primary-color);
        opacity: 25%;

        transition: width 0.2s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
</style>
