:root {
  --brand-primary-color: #52664D;
  --brand-darkgray-color: #30332F;
  --brand-lightgray-color: #f0f0f0;
  --brand-white-color: #ffffff;
  --text-color: #000000;
  --fg-text-color: #ffffff;
}
