@use 'color';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
} 

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url('/assets/brand/bg.png');
  background-size: 192px;
  background-attachment: fixed;
}

h1 { font-size: 2rem; }
h2 {
  padding-bottom: 4px;
  font-size: 1.8rem;
  color: var(--brand-primary-color);
  border-bottom: 2px solid var(--brand-lightgray-color);
}
h3 {
  padding-left: 8px;
  font-size: 1.6rem;
  color: var(--brand-primary-color);
  border-left: 8px solid var(--brand-lightgray-color);
}
h4 {
  font-size: 1.4rem;
  color: var(--brand-primary-color);
}
h5 { font-size: 1.2rem; }
h6 { font-size: 1.0rem; }

p, ul, ol {
  line-height: 2em;
}

h1, h2, h3, h4, h5, h6,
p, table, ul, ol {
  margin-top: 0;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: var(--brand-white-color);
  
  tbody {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
  }
  th, td {
    padding: 10px;
  }
  tr {
    &:nth-child(2n) {
      th, td {
        background-color: var(--brand-lightgray-color);
      }
    }
  }
}

a:link, a:visited {
  color: var(--brand-primary-color);
  background-image: url('/assets/brand/bg-colored.png');
  background-size: auto;
  background-position: center;
  background-size: contain;
}

.btnRack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.btn {
  display: inline-block;
  padding: 10px;
  background-color: var(--brand-primary-color);
  color: var(--brand-white-color) !important;
  text-decoration: none;
  font-weight: bold;

  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    background-color: var(--brand-white-color);
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 25%;
    transition: width 0.2s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.embedMap {
  width: 100%;
  height: 512px;
}
