---
import dayjs from "dayjs";
import { getCollection } from "astro:content";
import BaseLayout from "../components/layouts/BaseLayout/BaseLayout.astro";

export const getStaticPaths = async () => {
  const pages = await getCollection("pages", (p) => p.slug !== "index");
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
};

const { page } = Astro.props;
const { Content } = await page.render();
---

<BaseLayout title={page.data.title}>
  <div class="meta">
    <div class="pageTitle">{page.data.title}</div>
    <div class="">{dayjs(page.data.date).format("YYYY年M月D日")} 更新</div>
  </div>
  <Content />
</BaseLayout>

<style lang="scss">
  .meta {
    margin-bottom: 40px;
    padding: 20px;

    text-align: center;
    border-bottom: 2px solid var(--brand-primary-color);
  }

  .pageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--brand-primary-color);
  }
  .pageSubtitle {
  }
</style>
