---
import dayjs from "dayjs";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

export const getStaticPaths = async () => {
  const pages = await getCollection(
    "pages",
    (p) => p.slug !== "index" && !p.data.isMetaPage && !p.data.draft
  );
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
};

const { page } = Astro.props;
const { Content } = await page.render();
---

<BaseLayout title={page.data.title}>
  {page.data.breadcrumbs && <Breadcrumbs items={page.data.breadcrumbs} />}
  <div class="meta">
    <div class="pageTitle">{page.data.title}</div>
    <div class="">{dayjs(page.data.date).format("YYYY年 M月 D日")} 更新</div>
  </div>
  <Content />
</BaseLayout>

<style lang="scss">
  .meta {
    margin-bottom: 40px;
    padding: 8px 0 15px;
    border-bottom: 2px solid var(--brand-primary-color);
  }

  .pageTitle {
    font-size: 2em;
    font-weight: bold;
    color: var(--brand-darkgray-color);
  }
  .pageSubtitle {
  }
</style>
